@model ShoppingCart
@{
    ViewData["Title"] = "Order Summary";
}

<div style="width:90%; margin:auto">
    @if (Model != null && Model.CartDetails != null && Model.CartDetails.Count > 0)
    {
        <h3>Order Summary</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartDetails)
                {
                    <tr>
                        <td>
                            <h5>@item.Book.BookName</h5>
                            <span>@item.Book.AuthorName</span><br>
                            <span>@item.Book.Genre.GenreName</span>
                        </td>

                        <td>$@item.Book.Price</td>
                        <td>x @item.Quantity</td>
                        <td>$@(item.Book.Price * item.Quantity)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <h5>Order Total: </h5> $@(Model.CartDetails.Select(item => item.Book.Price * item.Quantity).Sum())
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="my-2" style="float:right;">
            <a class="btn btn-primary" href="/Cart/GetUserCart">Back to Cart</a>
            <a class="btn btn-primary" href="/UserOrder/OrderPlaced">Place Order</a>         
        </div>
    }
</div>